@font-face {
    font-family:'barlowbold';
    src: url('../fonts/barlow-bold-webfont.woff2') format('woff2'),
         url('../fonts/barlow-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowlight';
    src: url('../fonts/barlow-light-webfont.woff2') format('woff2'),
         url('../fonts/barlow-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowregular';
    src: url('../fonts/barlow-regular-webfont.woff2') format('woff2'),
         url('../fonts/barlow-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'brokmanw00-boldregular';
  src: url('../fonts/brokman_w00_bold-webfont.woff2') format('woff2'), 
    url('../fonts/brokman_w00_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brokmanw00-mediumregular';
  src: url('../fonts/brokman_w00_medium-webfont.woff2') format('woff2'), 
    url('../fonts/brokman_w00_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}